.loader{
    display: flex;
     justify-content: center;
    align-items: center;
     background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    animation: loader  ease-in-out  both;
    animation: size 1ms linear 2s forwards;
    z-index: 1;
    opacity: 1;
    .spinner{
      width: 275px;
      height: 275px;
      border-radius: 50%;
      border: 10px solid transparent;
      border-top-color: #99e2d0;
      border-bottom-color: #ff79d4;
      animation: spinner 1s linear infinite;
      
    }
  }
  
  @keyframes spinner{
      to {
        transform: rotate(360deg); 
      }
  }
  @keyframes size {
    100%{
      width: 0;
      height: 0;
      transform: translateY(-9999px);
    }
  }