/*Mise en page des 4 pages de menus des différents restaurants*/
///////////////////////////////////////////////////////////////


/*section des menus*/

.principal{
  height: auto;
  width: 94%;
  margin-left: 3%;
  margin-top: 25px;
  margin-bottom: 25px;
  @media (max-width: 768px){
      margin-top: 20px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;     
  }
  @media (min-width: 768px) and (max-width: 1366px){
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
  }

  & > p{
      position: relative;
      width: 82%;
      margin: auto;
      @media (max-width: 768px){
          margin-left: 30px;
      }
      
      &::before{
      content: "";
      display: block;
      width: 40px;
      height: 50px;
      background-color: transparent;
      border-bottom: 4px solid $color-tertiary;
      position: absolute;
      bottom: -08px;
      
      }
  }
  .entrees, .plats, .desserts{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 85px;
      margin-bottom: 25px;
      margin-top: 20px;
      
    
      @media (max-width: 768px){
          flex-direction: column;
          height: auto;
          flex-wrap: nowrap;
          
      }
      @media (min-width: 768px) and (max-width: 1366px) {
          height: auto;
      }    
  }
  .entrees{
      animation: decalage_plats 2s 100ms linear both;
      opacity: 0;
  }
  .plats{
      opacity: 0;
      animation: decalage_plats 2s 500ms linear both;
  }
  .desserts{
      opacity: 0;
      animation: decalage_plats 2s 1s linear both;
  }
  
      
      
      
  
  
  & .plat{
      height: 60px;
      width: 350px;
      background-color: white;
      border-radius: 1rem;
      overflow: hidden;
      line-height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: -1px 2px 12px 8px rgba(229,229,229,0.75);
      margin-bottom: 15px;
      
      & > p{
          margin-left: 20px;
          margin-top: 5px;
          font-weight: bold;
      }
   
      & .plat__ingredient{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & p{
              font-size: 14px;
              background-color: white;
              margin-left: 20px;
          }
      
          & span{
              width: 40px;
              height: 31px;      
              background-color: white; 
              display: block;
              position: relative;
              right: 15px;
              padding-right: 0px;
              text-align: center;
              font-weight: bold;
       
              &::before{
                  content: "...";
                  display: block;
                  position: absolute;
                  right: 40px;
                  width: 52px;
                  height: 30px;
                  padding-left: 5px;
                  text-align: left;
                  opacity: 0;   
                  background-color: white; 
              }
          }
   
          &:hover span{
              animation: check_translate 0.3s linear both;
              &::before{
              opacity: 1;
              }
          }
          &:hover .suspension__none{
              &::before{
                  opacity: 0;
              }
          }
      }
  

      & .check{
          width: 58px;
          height: 67px; 
          background-color: #99e2d0;
          line-height: 67px;
          text-align: center;
          border-radius: 0 1rem 1rem 0;
          opacity: 1;
          position: relative;
          left: 350px;
          bottom: 62px;
          & .fas{
              color: #99e2d0;
              background-color: white;
              font-size: 15px;
              width: 25px;
              height: 25px;
              line-height: 15px;
              text-align: center;
              border-radius: 50%;
              padding: 5px;
              animation-name: ckeck_rotate;
              animation-duration: 1s;
          }
      }
    
      &:hover .check{
          animation: check_translate 0.3s linear both; 
          opacity: 1;
      }
      &:hover .check div .fas{
           animation: check_rotate 0.3s linear both;
      }
  
      
  }
  
  & .lanote__entree{
      height: 60px;
     
      @media (max-width: 768px){
          height: 60px;
          
      }
  }
  & .lanote{
      height: auto;
      @media (max-width: 768px){
          height: auto;
      }
  }

  & .header__button--menu{
      @include bouton;
      width: 200px;
      margin-top: 100px;
      text-align: center;
      margin: auto;     
  }
}

/*footer*/////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////




