.headermenu{
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    @media (max-width: 768px){
        height: 70px;
        background-color: white;
    }
    &::before{
      content: "";
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.7;
      @media (max-width: 420px){
          top: 70px;
          height: 270px;
          opacity: 1;
          
      }
    }
  
    &__title{
        width: 90%;
        text-align: center;
        font-size: 50px;   
        margin-top: 10px;
        font-family: $titre;
        @media (max-width: 420px){
            font-size: 30px;
            line-height: 50px;
           
        }
    }
    & .fa-arrow-left{
        font-size: 30px; 
        line-height: 90px;
        padding-left: 30px;
        @media (max-width: 420px){
           line-height: 70px;
           padding-left: 20px;
        }
    }
    & a{
        color: black;
    }
  } 
  
  .header__palette{
    &::before{
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      }
  }
  .header__note{
    &::before{
        background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      }
  }
  .header__francaise{
    &::before{
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      }
  }
  .header__delice{
    &::before{
        background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      }
  }