.restaurant-menu{ 
    width: 70%;
    height: 5vmax;
    margin-top: 20px;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    @media (max-width: 768px){
        width: 100%;
        margin-top: 227px;
        background-color: #f6f6f6;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        width: 80%;
    }
  
   
    & h1{
        width: 100%;
        height: 100%;
        font-size: 3vw;
        font-family: $titre;
        @media (max-width: 768px){
            font-size: 3vmax;
            width: 80%;
            margin-top: 10px;
        }
    }
  
  }
  @use "/sass/homepage/section.scss";

  .restaurant-menu__heart{
      width: 5vmax;
      height: 5vmax;
    @include heartMenu;
    &--border, &--solid{
        width: 3vw;
        @media (max-width: 768px){
            width: 2.5vmax;
        }
    }
  }
