.restaurant-menu{ 
    width: 80%;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 768px){
        width: 100%;
        margin-top: 227px;
        background-color: #f6f6f6;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        width: 80%;
        margin-top: 160px;
    }
    @media (min-width: 1024px) and (max-width: 1366px){
      width: 80%;
      margin-top: 0;
  }
   
    & h1{
        margin-top: 40px;
        font-size: 40px;
        font-family: $titre;
        @media (max-width: 768px){
            font-size: 30px;
            width: 80%;
            margin-top: 10px;
        }
    }
  
  }