@mixin asideChoice {
    
    .aside__icons{
      font-size: 20px;
    }
    .aside__box{
      display: flex;
      width: 324px;
      justify-content: space-between;
      background-color: #eaeaea;
      padding: 30px 68px 30px 38px;
      border-radius: 1rem;  
      box-shadow: 0px 9px 12px -2px #eaeaea;
      margin-bottom: 50px;
      position: relative;
      @media (max-width: 420px){
        width: 320px;
      }
      
        &:hover{
          background-color: #f5edff;
          color: $color-secondary;
          }
          &::before{
            width: 30px;
            height: 30px;
            background-color: $color-secondary;
            position: absolute;
            color: white;
            border-radius: 50px;
            left: -10px;
            padding-left: 10px;
            padding-top: 6px;
          }
        & p{
          color: black;
          font-weight: bold;
        }
    }
  }

  aside{
    margin-top: 50px;
    width: 324px;
    @media (max-width: 738px){
        margin-top: 0px;
        background-color: white;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    & h2{
        text-align: center;
        @media (max-width: 420px){
            width: 80%;
            margin-top: 30px;
        }
    }
    @include asideChoice;

    .aside__choice{
        &::before{
            content: "1";
        } 
    }
    .aside__compose{
        &::before{
            content: "2";
        }
    }
    .aside__taste{
        &::before{
            content: "3";
        }
    }
    & a{
        text-decoration: none;
        color: black;
    }      
}