@use "../abstract/" as *;
@mixin restaurantCards{
   
    .restaurant-card{
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: -1px 2px 12px 8px rgba(229,229,229,0.75);
      position: relative;
      @media (max-width: 992px){
        height: 100%;
      }
      @media (max-width: 768px){
        width: 100%;
        height: 100%;
      }

      &:hover{
        box-shadow: -1px 2px 08px 4px rgb(147,86,220);
        transform: scale(1.01);
      }
    }
}

@mixin restaurantCardsText {
  .restaurant-card__text{
    width: 100%;
    height: 21%;
    background: white;
    position: relative;
    bottom: 21%;
    border-radius: 0 0 1rem 1rem;
    @media (max-width: 768px){
      height: 26%;
      bottom: 26%;
    }
    & h3, & p{
      font-size: 1.2vmax;
      padding-left: 1vmin;
      padding-top: 0.2vmax;
      @media (max-width: 992px){
        font-size: 2.1vmin;
      }
      @media (max-width: 768px){
        font-size: 3.5vmin;
      }
    }
    .restaurant-card__heart{
      @include heartMenu;
    }
    
  }
}

@mixin heartMenu{
      position: relative;
      &--border{
        width: 2vmax;
        height: auto;
        position: absolute;
        bottom: 1vmax;
        right: 1vmin;
        @media (max-width: 768px){
          width: 2.5rem;
          height: 2.5rem;
        }
      }
      &--solid{
        width: 2vmax;
        height: auto;
        opacity: 0;
        position: absolute;
        bottom: 1vmax;
        right: 1vmin;
        transform: scale(1);
        @media (max-width: 768px){
          width: 2.5rem;
          height: 2.5rem;
        }
        &:hover{
          opacity: 1;
          transition:  600ms 150ms linear ;
          transform: scale(1.05)
        }
      }
}
  

  section{
    width: 47%;
    height: 47vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; 
    align-items: center;
    @media (max-width: 992px){
        width: 80%;
        height: 70vmax;
    }
    @media (max-width: 768px){
      width: 80%;
      height: auto;
      flex-direction: column;
  }
    
    & a{
        text-decoration: none;
        color: black;
        width: 45%;
        height: 35%;
        display: block;
        @media (max-width: 768px){
          width: 100%;
          height: 50vmin;
          flex-direction: column;
      }
    } 
@include restaurantCards;
@include restaurantCardsText;
}

section a.palette, section a.note{
    position: relative;
    &::after{
      content: "Nouveau";
      font-size: 1vmax;
      position: absolute;
      width: 25%;
      height: 12%;
      background-color:$color-tertiary;
      position: absolute;
      line-height: 2vmax;
      text-align: center;
      color: #008766;
      bottom: 82%;
      z-index: 2;
      right: 4%;
    }
  
}
.note{
  object-fit: cover;
  object-position: 0 -143px;
}
