footer{
    width: 100%;
    height: 8rem;
    padding: 2rem;
    background-color: #353535;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px){
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-left: 30px;
        padding-top: 30px;
        height: auto;
        line-height: 30px; 
    }
    @media (min-width: 768px) and (max-width: 1336px){
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 30px;
        line-height: 30px;
        height: auto;
        
    }
    & h2{
        font-family: 'Shrikhand', cursive;
        font-size: 40px;
        @media (max-width: 420px){
            font-size: 30px;
        }
    }
    .footer__ustensile{
        display: flex;
        flex-wrap: wrap;
        width: 190px;
        justify-content: space-between;
    }
    .footer__partenaire{
        display: flex;
        flex-wrap: wrap;
        width: 160px;
        justify-content: space-between;
  
    }
   & p, .mail{
        text-decoration: none;
        color: white;
    }
  }